# Global configuration
{
    email mattkacllyy@gmail.com
    acme_ca https://acme-v02.api.letsencrypt.org/directory
}

dashboard.datamountainsolutions.com {
    reverse_proxy lotus-custom-dashboards:5000
}

dagster.datamountainsolutions.com {
    reverse_proxy lotus-dagster:3000
}

trino.datamountainsolutions.com {
    reverse_proxy lotus-trino:8080
}

spark-master.datamountainsolutions.com {
    reverse_proxy lotus-spark-master:8080
}

spark-worker.datamountainsolutions.com {
    reverse_proxy lotus-spark-worker:8081
}

nessie.datamountainsolutions.com {
    reverse_proxy lotus-nessie:19120
}

minio.datamountainsolutions.com {
    reverse_proxy lotus-datalake-storage:9001
}